.form-control{
    margin: 4%;
}
#messagesContainer{
    height: 18em;
    width: 100%;
    margin: 0em;
    overflow-y: auto;
}
textarea {
    resize: none;
  }
body{
    padding: auto;
    margin: auto;
}